<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Property name="HOME-DIR" value="logs"/>

    <appender name="INFO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME-DIR}/archived/app.%d{yyyy-MM-dd}.%i.info.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>100MB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="EXCEPTION-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME-DIR}/archived/app.%d{yyyy-MM-dd}.%i.exceptions.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>150MB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

    </appender>
    <appender name="ASYNC-INFO-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="INFO-FILE" />
    </appender>
    <appender name="ASYNC-EXCEPTION-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="EXCEPTION-FILE" />
    </appender>
    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

        <root level="info">
            <appender-ref ref="ASYNC-INFO-FILE" level="info"/>
            <appender-ref ref="ASYNC-EXCEPTION-FILE" level="error"/>
            <appender-ref ref="ASYNC-CONSOLE"  level="info"/>
        </root>
</configuration>